<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th> ACCOUNT DOCUMENT NUMBER</th>
            <th>COMPANY CODE</th>
            <th>FISCAL YEAR</th>
            <th>DOCUMENT DATE</th>
            <th>DOCUMENT type</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of finalRes">
                    
            <td>{{res.BELNR._text}}</td>
            <td>{{res.BUKRS._text}}</td>
            <td>{{res.GJAHR._text}}</td>
            <td>{{res.BLDAT._text}}</td>
            <td>{{res.BLART._text}}</td>
                 
                    

                  </tr>
          
        </tbody>
      </table>
</div>
