<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>Creation Date</th>
            <th>Vendor Id</th>
            <th>Client </th>
            <th>Organiztion Code</th>
            <th>Object Creator</th>
          
        </thead>
        <tbody>
          <tr >
            <td>{{quo.ANGDT}}</td>
            <td>{{quo.PINCR}}</td>
            <td>100</td>
            <td>RT01</td>
            <td>{{quo.ZBD1T}}</td>

            
          </tr>
          
        </tbody>
      </table>
</div>
