<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>DOCUMENT NUMBER</th>
            <th>POSTING DATE</th>
            <th>QUANTITY</th>
            <th>AMOUNT</th>
            <th>CURRENCY KEY</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cm" >

            <td>{{c.BELNR._text}}</td>
            <td>{{c.BUDAT._text}}</td>
            <td>{{c.MENGE._text}}</td>
            <td>{{c.DMBTR._text}}</td>
            <td>{{c.WAERS._text}}</td>
            
          </tr>
          
        </tbody>
      </table>
</div>
