<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>Purchase Document</th>
            <th>Status</th>
            <th>Control Indicator</th>
            <th>Quotation Submission</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{po.ABSGR}}</td>
            <td>{{po.RLWRT}}</td>
            <td>{{po.FORCE_CNT}}</td>
            <td>{{po.IHRAN}}</td>
            
          
          </tr>
        </tbody>
      </table>
</div>
