<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">CLIENT</th>
            <th scope="col">ACCOUNT DOCUMENT NUMBER</th>
            <th scope="col">MATERIAL NUMBER</th>
            <th scope="col">DEBIT/CREDIT INDICATOR</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">ORDER</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{inv.MANDT}}</td>
            <td>{{inv.BELNR}}</td>
            <td>{{inv.MATNR}}</td>
            <td>{{inv.SHKZG}}</td>
            <td>{{inv.MENGE}}</td>
            <td>{{inv.BPRME}}</td>
          </tr>
          
        </tbody>
      </table>
</div>
