<nav class="navbar navbar-expand-lg navbar-light bg-olive" style="color: white;">
  <a class="navbar-brand " routerLink="/kaartech.com">Kaar Tech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link " routerLink="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/gr">Goods Receipt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aa" routerLink="/cm">Credit Memo</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " routerLink="/pay">payment overdues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aa" routerLink="/invh">invoice history</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="invp">invoice pending</a>
      </li> -->
      
      
    </ul>
    
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12">
     <router-outlet></router-outlet>
    </div>
  </div>
</div>